## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# Visual Studio Code files
.vscode

# OSX dir files
.DS_Store

## Caffe

# User's build configuration
Makefile.config

# Data and models are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed

#data/*

models/*
*.caffemodel
*.caffemodel.h5
*.solverstate
*.solverstate.h5
*.binaryproto
*leveldb
*lmdb

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev

# LevelDB files
*.sst
*.ldb
LOCK
LOG*
CURRENT
MANIFEST-*

# temporary directories
jobs
temp
examples/*/*lmdb


models
*.ipynb

*.jpg
*.json
*.JPEG
*.png
*.off
*.xml
*.mat
*.inf
*.txt
*.vty
data/3Dpascal/pascal3D/PASCAL/VOCdevkit/*
data/3Dpascal/pascal3D/VDPM/
data/3Dpascal/pascal3D/Annotation_tools/
data/3Dpascal/pascal3D/Anchor/
data/3Dpascal/pascal3D/Segmentation/
data/philData/
data/philData
data/vid
notebooks
structure.txt
data/scenes
data/pascal3D
data/ObjectNet3D
.build_release/tools/net_speed_benchmark
.build_release/tools/extract_features
.build_release/tools/get_image_size
.build_release/tools/convert_annoset
.build_release/tools/caffe
.build_release/tools/test_net
.build_release/tools/train_net
.build_release/tools/convert_imageset
.build_release/tools/upgrade_net_proto_binary
.build_release/tools/create_label_map
.build_release/tools/finetune_net
.build_release/tools/upgrade_net_proto_text
.build_release/tools/device_query
.build_release/tools/upgrade_solver_proto_text
.build_release/tools/compute_image_mean
.build_release/lib/libcaffe.so
build
data/pascal3D
data/vid
data/scenes
data/ObjectNet3D
data/ObjectNet3D
data/gmu_kitchen
data/scenes
data/vid
data/scene_one
data/pascal3D
.build_release/tools/convert_imageset
.build_release/tools/extract_features
.build_release/tools/caffe
.build_release/tools/create_label_map
.build_release/tools/finetune_net
.build_release/tools/train_net
.build_release/tools/upgrade_solver_proto_text
.build_release/tools/net_speed_benchmark
.build_release/tools/compute_image_mean
.build_release/tools/convert_annoset
.build_release/tools/test_net
.build_release/tools/upgrade_net_proto_text
.build_release/tools/device_query
.build_release/tools/get_image_size
.build_release/tools/upgrade_net_proto_binary
.build_release/lib/libcaffe.so
build
data/ObjectNet3D
data/gmu_kitchen
data/scenes
data/vid
data/scene_one
data/pascal3D
.build_release/tools/convert_imageset
.build_release/tools/extract_features
.build_release/tools/caffe
.build_release/tools/create_label_map
.build_release/tools/finetune_net
.build_release/tools/train_net
.build_release/tools/upgrade_solver_proto_text
.build_release/tools/net_speed_benchmark
.build_release/tools/compute_image_mean
.build_release/tools/convert_annoset
.build_release/tools/test_net
.build_release/tools/upgrade_net_proto_text
.build_release/tools/device_query
.build_release/tools/get_image_size
.build_release/tools/upgrade_net_proto_binary
.build_release/lib/libcaffe.so
build
